Source: sgas-bart
Maintainer: Magnus Jonsson <magnus@hpc2n.umu.se>
Section: python
Priority: optional
Build-Depends: python (>= 2.6.5), debhelper (>= 7.4.3)
Standards-Version: 3.9.1

Package: sgas-bart
Architecture: all
Depends: ${misc:Depends}, python (>= 2.6.5), python-twisted-core (>= 10.0.0), python-twisted-web (>= 10.0.0), python-openssl (>= 0.10), python-dateutil (>= 1.4.1)
Description: SGAS Batch system Reporting Tool

